.container {
  width: 40rem;
  min-width: 20rem;
  padding:  3rem 1rem;
  margin: auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}
